<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <title>Delete {{item.title}}</title>
    </head>
    <body>
        <div id=container>
            <div id=pagetitle>
                <h1>Delete {{item.title}}</h1>
            </div>
            <div id=contentcontrols>
                <form action="{{url_for('deleteItem', category_id = item.cat_id, item_id = item.id)}}", method='POST'>
                    <div id=contentcontrols>
                        <input class=controlbutton type='submit', value='Delete'>
                        <button class=controlbutton type="button" onclick="window.location.href='{{url_for('getItem', category_id = item.cat_id, item_id = item.id)}}';">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>