<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<title>Edit {{category.name}}</title>
	</head>
    <body>
		<div id=container>
			<div id=pagetitle>
				<h1>Edit {{category.name}}</h1>
			</div>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<div id=flashmessage>
						{{messages[-1]}}
					</div>
				{% endif %}
			{% endwith %}
			<div id=contentcontrols>
				<form action="{{url_for('editCategory', category_id = category.id)}}", method='POST'>
					<b><p>Name:</p></b>
					<input type='text', size='30', name='name', value='{{category.name}}'>
					<br/><br/>
                    <div id=contentcontrols>
						<input class=controlbutton type='submit', value='Update'>
                        <button class=controlbutton type="button" onclick="window.location.href='{{url_for('getCategory', category_id = category.id)}}';">Cancel</button>
                    </div>
				</form>
			</div>
		</div>
    </body>
</html>